.header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 40;
    display: block;
    height: 68px;
    padding: $global-padding;
    color: $white;
}

.header-title {
    text-transform: uppercase;
    font-size: 3rem;
}

.header-small {
}

.wrap {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

.hero {
    background-color: $white;
    background: url(../images/bg.jpg);
    padding: $global-padding;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background-size: cover;
}

.posts {
    min-height: 80vh;
    background-color: $light-gray;
    padding: $global-padding;
}

.footer {
    min-height: 50vh;
    background-color: $black;
    color: $light-gray;
}

.post-wrapper {
    padding: 0;
    margin: 0;
}

.post-item {
  overflow: hidden;
  background: white;
}

.post-image:hover {
    transform: scale(1.05);
}

.post-image {
    transition: transform 0.3s ease-out;
}

.post-caption {
    background-color: $white;
    padding: $global-padding;
}

.post-caption .title {
    font-size: 20px;
    padding-bottom: 0.5em;
    text-transform: uppercase;
}

.post-caption .tail {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-caption .tail a {
    text-transform: uppercase;
    text-decoration: none;
}

.post-caption .tail a:hover {
    border-bottom: 2px solid;
}

.post-caption .meta {
    font-size: 14px;
    padding-bottom: 0.5em;
    color: $medium-gray;
}

.post-caption .content {
    font-size: 15px;
}

.price-tag {
    background-color: #ED0082;
    padding: 0.35em;
    color: white;
}

.logo-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding: 1.8em;
    align-items: center;
    height: 50vh;
}

.logo-wrapper h1 {
  font-size: 3rem;
}

.bottom-footer-wrapper {
  padding: 50px 12px;
  text-align: center;
  color: grey;
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: space-around;
    align-items: center;
}

.contact-list {
    list-style: none;
    line-height: 2.5em;
}

.contact-item {
    font-size: 20px;
}

.newsletter {
  padding: 18px 0;
}

.text-label {
  width: 60%;
  float: right;
}
